@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/viewlog.cshtml";
}

<h1>ABOUT US:</h1>
<div class="container">
    <h1>Developed By Aymen Zameer</h1>
<pre style="font-family:'Comic Sans MS'; font-size:20px">
   
                 Pharm+ Online has been created as a term project for
 
                 Enterprise Application Development's course under 
                 course instructor Mr Bilal Javed.
    
</pre>
</div>
