@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/viewlog.cshtml";
}

<h2>Contact Us</h2>
<div class="container">

<pre style="font-family:'Book Antiqua'; font-size:20px; align-content:center">
                            Pharm+ Online is an online store for buying medicines by normal citizens.
                    
                                    In case of complaints or queries:
                                                    Email: BSEF12M552@pucit.edu.pk
                                                    Address: Punjab University College Of Information Technology, Lahore.
</pre>
</div>